name: ci 
on:
  push:
    branches: 
      - main
    tags:
      - 'v*'
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Configure Git
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - name: Deploy documentation
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # if [[ ${{ github.ref }} =~ ^refs/tags/v ]]; then
          #  VERSION=${GITHUB_REF#refs/tags/v}
          #  mike deploy --push --update-aliases $VERSION latest
          #  mike set-default --push latest
          #else
          #  mike deploy --push dev
          #fi
          # enable version control - testing
          mike deploy --push 1.3
          mike deploy --update-aliases 1.3 latest
          mike set-default latest
          mkdocs build
